/* Start Variables */

/* variables will use many times */

:root {
  --backgroundcontainer-color: #faf8f4;
  --textlinkcolor: #EF3C3B;
  --textlinkblue: #067EDA;
  --background-image: url(../images/PortalAssets/SVG/Intersection\ 1.svg);
  --background-imagepng: url(../images/PortalAssets/PNG/BG.png);
}

/* End Variables */

/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* font desgin */

body {
  font-family: "Cairo", sans-serif;
}
::marker {
  content: "";
}
/* control for page */
.language-logo a {
  display: list-item;
  height: 100%;}

.background {
  position: relative;
  background-image: var(--background-imagepng);
  padding: 15px 0;
  height: 100vh;
  background-size: 106%;
  background-position: center;
  background-repeat: no-repeat;
}

.language-logo {
  background-image: url(../images/PortalAssets/SVG/en-full.svg) !important;
  position: relative;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  width: 8%;
  margin-left: 8px;
  margin-top: 15px;
}
.language-logo {
transition: transform 0.2s ease-in-out;
}
.language-logo:hover {
transform: translate(0, -6px);
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

}



@media (max-width: 1200px) {
  .login-content {
    margin: 0 !important;
  }
  .background {
      position: relative;
      background-image: var(--background-imagepng);
      padding: 15px;
      background-repeat: no-repeat;
      height: 100vh;
      background-size: 205% !important;
      background-position: left;
  }
  .language-logo {
    background-image: url(../images/PortalAssets/SVG/en.svg) !important;

    width: 10%;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
}

@media (max-width: 750px) {
  .language-logo {
    background-image: url(../images/PortalAssets/SVG/en.svg) !important;

    width: 22%;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  .style-icons {

  position: absolute;
  direction: rtl;
  width: 82% !important;
  height: calc(100% - 180px) !important;
  /* margin-top: -49px; */
  right: 11% !important;
  overflow: auto;
  top: 15% !important;
  
  }
  .background {
    position: relative;
    background-image: var(--background-imagepng);
    padding: 15px;
    background-repeat: no-repeat;
    background-position: right !important;
    height: 100vh;
    background-size: 200% !important;    
}
.language-logo {
  background-image: url(../images/PortalAssets/SVG/en.svg) !important;
 
}}

@media (max-width: 440px) {
  .language-logo {
    background-image: url(../images/PortalAssets/SVG/en.svg) !important;


  }
  .background {
    position: relative;
    background-image: var(--background-imagepng);
    padding: 15px;
    background-repeat: no-repeat;
    background-position: right !important;
    height: 100vh;
    background-size: 485% !important;
    
}
}

a {
  text-decoration: none;
}

/* End Global Rules */

/* start content */

/* .container-shape {
  } */

.login-content {
  direction: rtl;
  position: relative;
  margin-right: 90px;
  margin-top: 15px;
}

.login-content img {
  width: 116px;
  height: 39px;
  opacity: 100%;
}


.language-logo:hover {
  transform: translate(0, -6px);
}
.style-icons {
  position: absolute;
  direction: rtl;
  width: 55%;
  height: calc(100% - 243px);
  /* margin-top: -49px; */
  right: 10%;
  overflow: auto;
  top: 19%;
}

.style-icons::-webkit-scrollbar {
  display: none;
}

.buttons-of-icons {
  display: flex;
  flex-wrap: wrap;
}

.buttons-of-icons > div {
  margin: 15px 15px 20px;
  height: calc(100% - 67px);
}

.buttons-of-icons .box {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
}

.buttons-of-icons .box .circle,
.buttons-of-icons .box .circle-blue {
  margin-left: 20px;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 1;
}
/* .margin-right {
  margin-right: -7px !important;
}
.margin-left,
.margin-text {
  position: relative;
  margin-left: 0px !important;
} */
/* .help-services {
  position: relative;
  left: 2px;
} */
/* .help-desk {
  position: relative;
  right: 4px;
}

.margin-left {
  left: 9px;
} */
/* .crm-margin {
  position: relative;
  left: 12px;
} */

.margin-text {
  position: relative;
  left: 7px !important;
}

.icons-images,
svg {
  margin-top: 18px;
}

.circle {
  background: #feecec 0% 0% no-repeat padding-box;
}

.circle-blue {
  background: #ecf0fe 0% 0% no-repeat padding-box;
}
.flex-icons {
  text-align: center;
  transition: 0.3s;
}

.flex-icons:hover {
  transform: translate(0, -10px);
}

.flex-icons .aicons,
.flex-icons .aicons-blue,
.flex-icons .aicons-att,
.flex-icons.capitalletter {
  text-align: center;
  opacity: 1;
}
.flex-icons .aicons,
.flex-icons .aicons-blue,
.flex-icons .aicons-att {
  text-transform: capitalize;
}
.flex-icons .capitalletter {
  text-transform: uppercase;
}

.flex-icons .aicons,
.flex-icons .aicons-blue {
  font-size: 15.5px;
  font-weight: 500;
  word-spacing: normal;
  line-height: 2;
}

.aicons,
.aicons-att {
  color: var(--textlinkcolor);
}

.aicons-blue {
  margin-top: 50px;
  color: var(--textlinkblue);
}

.aicons-att {
  font-size: 12.5px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
/* end content */
